<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebViewGather" >
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--使用自定义的图片上传功能-->
        <activity android:name=".PracticeActivity"></activity>

        <!--使用内置的图片上传，1-->
        <activity android:name=".Practice2Activity"></activity>

        <!--不开启图片上传-->
        <activity android:name=".Practice3Activity"></activity>

        <!--使用内置的图片上传，2-->
        <activity android:name=".Practice4Activity"></activity>

        <activity android:name=".JSWithAndroidActivity">

        </activity>
    </application>

</manifest>